@import url('https://fonts.googleapis.com/css?family=Roboto');

$base-color: #FFF8DC;

body {
  font-family: 'Roboto', sans-serif;
}

.list-group-item {
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
}

.popover {
  min-width: 250px;
  max-width: 300px;

  .todo-list-wrapper {
    max-height: 200px;
    overflow-y: auto;

    .list-group {
      margin: 0;
    }
  }
}

.draggingElement {
  opacity: 0.5;
}

.bg-icon {
  display: none;
}

.draggingElementOverArea {
  background-color: darken( $base-color, 10% );

  .draggingElement {
    background-color: #FFFFFF;
  }

  .bg-icon {
    color: #f1f1f1;
    font-size: 40px;
    position: absolute;
    margin-top: -3px;
    opacity: 0.5;
    display: block;
  }
}
